.form-add {
    margin-top: 40px;

    &__content {
        margin: auto;
        width: 500px;
    }

    .form-group {
        margin-top: 15px;

        &__error {
            color: red;
        }

        &__img {
            margin-top: 15px;

            img {
                border-radius: 10px;
            }
        }
    }
}
